body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #031321;
  font-family: "Courier New", Courier, monospace;
}
a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transform: 0.2s;
}
a:hover {
  color: #255784;
  background-color: #2196f3;
  /* In me sy koi aik b use kr lu according to requirement */
  /* box-shadow: 0 0 10px #2196f3; */
  /* box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3; */
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}
a span {
  position: absolute;
  display: block;
}
a span :nth-child(4) {
  top: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
a:hover span :nth-child(4) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
